<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>Tantrum content delivery</title>
	</head>
	<body>
		<form action="/save" method="post" enctype="multipart/form-data" accept-charset="utf-8">
			<p><input type="file" name="content"></p>
			<p><input type="text" name="client"></p>
			<p><input type="submit" value="Continue &rarr;"></p>
		</form>
	</body>
</html>